html {
  font-size: 14px;
}
p, h{
  margin: 0;
}

a{
  text-decoration: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.abt-me {
  font-size: clamp(1rem, 0.5rem + 2vw, 1.3rem);
}

.parent .border:hover {
  background-color: #e0e0e0;
  transform: scale(1.1); 
  transition: background-color 0.3s, transform 0.3s;
}

.skill-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  
  justify-content: center;
}

.skill{
  background-color: #2196f3;

}

.proj {
  background-color: #f8f9fa;
  max-width: 600px;
  width: 100%;
}